body { 
 /* background-color: #FFE4E1; */
  background-color: #FFFFFF;
  margin-left:auto;
  margin-right:auto;
  width: 1040px;
  color: black; 
}

#wrapper{
	background: transparent url(../images/HG.jpg);
	background-repeat:no-repeat;
	float:left;
	padding-left:40px;
	height:700px;
	width:800px;
}

body, p, ol, ul, td {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}



h1 {
	width: 550px;
	margin:auto;

}

h3{
	color:black;
}

h2 {

	padding:5px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #800000; 
}

a:hover { 
	color: #fff; 
}

div label {
	margin: 0px 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.title {
	color: #FFFFFF !important;
	line-height: 60px;
	text-decoration: none;
	letter-spacing: 0.1em;
	position:absolute;
	top:5px;
	left:800px;
	font-size:30px;
	font-family:Arial Black;
}

.box {
	margin-bottom: 30px;
}

#titlebox {
	-moz-border-radius:5px;
	border:2px dotted #800000;
	text-align:center;
	padding-top:20px;
	padding-bottom: 20px;
	background-color:#800000;
	font-family:Miriam; 
	font-size: 20px;
	color: #FFFFFF;

}

#current {
	text-align: right;
	border-top:1px dotted white;
	width: 600px;
	margin-top: 30px;
	padding-top: 10px;
}

.footer {
	color: orange;
	-moz-border-radius:5px;
	text-align:left;
	float:left;
}

#errorExplanation {
  color: black;
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#created {
	font-family:"Courier New", Courier, monospace;
	font-style:italic;
	font-size:11px;
}

#notice {
	color: black;
}

td a{

}

#details {
 		  
}

#members img,.configurations img{
	 margin-top:7px;
	 margin-left:7px;
	 width:70px;
	 height:95px;
	 border:none;
}

#members p{
	float:left;

}


#chores{
  clear:both;
}

#events{
  clear:both;
}

li {

}

#draggable { }
	ul {
		float:left;
		padding:0px;
		}
		
.calendar_entries tr{
	clear:both;
	border:2px solid #800000;
	list-style-type:none;
	width:80px;
	overflow:hidden;
	max-height:10px;
	color:#800000;
	background-color:#FFFFFF;
	z-index:4;
}

.calendar_entry img{
	width:60px;
	height:60px;
	padding:10px;
}

li #draggable {
	border:2px solid #800000;
}
		
.items #details {
	float:left;
	clear:both;
	position:relative;
	left:40;
}

.items {
	/*float:left;*/
	margin-left:50px;
	height:420px; /**/
	width:600px;
	/*overflow:auto;*/
}
	
#name_of_day{
	max-height:30px;
	font-family:Miriam;
	font-weight:20px;
	font-size: 20px;
	color:white;
	background: transparent url(../images/Kalendertageaktiv.png);
	background-repeat:no-repeat;
	padding-top:5px;
	padding-left:5px;
}
	
li{
	margin:1px;
	padding:5px;
	}
	
tbody td{
	width:82px;
	min-width:82px;
	max-width: 82px;
	max-height: 80px;
	color: #000000;
	height: 80px;
	background: transparent url(../images/Kalenderfeld_dark.png);
	background-repeat:no-repeat;
	overflow:hidden;
}

/*****/
tbody{
	/*background: transparent url(../images/Kalenderfeld_dark.png);*/
}


.nav ul{
	/*float:left;*/
	list-style-type: none;
	text-align:right;
	margin-top:100px;
}

.nav{
	max-height:700px;
	min-height:700px;
	height:100%;
	width: 200px;
	background: url(../images/Buttons/Pfeiler.png);
	background-repeat:no-repeat;
	background-position:right;
	float:left;
}

#tooltip {
    padding: 3px;
    background: orange;
    border: 1px solid #eee;
    text-align: center;
    font-size: 15px;
		color:black;
		-moz-border-radius:5px;
}

.tip {
    border-bottom: 1px solid #eee;
		
}


.day{
	font-size:20px;
	position:relative;
	left: 50px;
	top: -15px;
}

#profile_image img{
	width:77px;
	height:96px;
}


div.sc_menu {
  position: relative;
  height: 200px;
  width: 600px;
  overflow: auto;
}
ul.sc_menu {
  display: block;
  height: 200px;
  width: 600px;
  padding: 15px 0 0 15px;
  margin: 0;
  list-style: none;
}
.sc_menu li {
  display: block;
  float: left;
  padding: 0 4px;
}

.sc_menu li div{
	height:180px;
	width:100px;
}


.sc_menu a {
  display: block;
  text-decoration: none;
}
.sc_menu span {
  display: block;
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}



div.trigger {
	
}
div.trigger a {
	
	text-decoration: none;
	
}
div.trigger a:hover { color: #ccc; }

.toggle_container {
	margin: 0 0 0px;
	padding: 0;
	background: url(../images/Buttons/aufgaben_aktiv.png);
	background-repeat:no-repeat;
	overflow: hidden;
	width: 185px;
	height:500px;
	position:relative;
	top:-30px;
	
	
}
.toggle_container .block {
	padding: 20px; 
	width:100px;
	height: 90px;
	margin-left:40px;
	overflow:auto;
	position:relative;
	top:-130px;
}

.rating{
margin: 0 0 5px;
	padding: 0;
	background: url(../images/Kalender/Kalenderfeld_lang.png);
	background-repeat:no-repeat;
	overflow: hidden;
	width: 80px;
	clear: both;
}

.rating img{
	width:18px;
	height:18px;
}

.sc_menu div{
	background-repeat:no-repeat;
	width: 75px;
	height: 90px;
}

.sc_menu div.pink, .configurations div.pink{
  background: url(../images/Kalender/Personen_Rahmen_pink.png);
	background-repeat:no-repeat;
}

.sc_menu div.blue, .configurations div.blue{
	background: url(../images/Kalender/Personen_Rahmen_blau.png);
	background-repeat:no-repeat;
}

.sc_menu div.green, .configurations div.green{
	background: url(../images/Kalender/Personen_Rahmen_limette.png);
	background-repeat:no-repeat;
}

.sc_menu div.red, .configurations div.red{
	background: url(../images/Kalender/Personen_Rahmen_rot.png);
	background-repeat:no-repeat;
}

.calendar_entry div.pink{
	background: url(../images/Kalender/Icons_Rahmen_pink.png);
	background-repeat:no-repeat;
}

.calendar_entry div.blue{
	background: url(../images/Kalender/Icons_Rahmen_blau.png);
	background-repeat:no-repeat;
}

.calendar_entry div.green{
	background: url(../images/Kalender/Icons_Rahmen_limette.png);
	background-repeat:no-repeat;
}

.calendar_entry div.red{
	background: url(../images/Kalender/Icons_Rahmen_rot.png);
	background-repeat:no-repeat;
}


#ranking #member img{
	width:71px;
	height:93px;
	background-repeat:no-repeat;
	margin-top:35px;
	margin-left:17px;
}

.leine img{
position:relative;
top:85px;
left:-40px;
width:840px;
}

#ranking #member{
	width:200px;
	height:200px;
	float:left;

	
}

#ranking div.pink{
	background: url(../images/Ranking/Rahmen_Klupperl_pink.png);
	width:101px;
	height:143px;
}

#ranking div.blue{
	background: url(../images/Ranking/Rahmen_Klupperl_blau.png);
	width:101px;
	height:143px;
}

#ranking div.green{
	background: url(../images/Ranking/Rahmen_Klupperl_limette.png);
	width:101px;
	height:143px;
}

#ranking div.red{
	background: url(../images/Ranking/Rahmen_Klupperl_rot.png);
	width:101px;
	height:143px;
}

.award img{
	max-width:46px;
	max-height:62px;
}

.award{
	position:relative;
	top:-140px;
	left:30px;

}

.award h2{
	position:relative;
	top:90px;
	color:#000000;
	left:30px;
}


.pillar{
	height:690px;
	width:20px;
	position:relative;
	left:800px;
	top:-45px;
	background: url(../images/Buttons/Pfeiler.png);
}

#profile_image div{
	background-repeat:no-repeat;
}

#profile_image img{
	width:115px;
	height:155px;
	margin-top:10px;
	margin-left:10px;
}

#user_configurations img{
	width:71px;
	height:93px;
}

.user_configurations{
	margin-left:20px;
	padding:10px;
}

.rewards_conf{
	margin-left:20px;
	padding:10px;
}


#profile_image div.pink{
  background: url(../images/Profil/Rahmen_Profil_pink.png);
	background-repeat:no-repeat;
}


#profile_image  div.blue{
	background: url(../images/Profil/Rahmen_Profil_blau.png);
	background-repeat:no-repeat;
}

#profile_image  div.green{
	background: url(../images/Profil/Rahmen_Profil_limette.png);
	background-repeat:no-repeat;
}

#profile_image  div.red{
	background: url(../images/Profil/Rahmen_Profil_rot.png);
	background-repeat:no-repeat;
}

.sc_menu .checkbox{
	
	width:10px;
	
	height:16px;
	position:relative;
	top: -95px;
	z-index:20;
	
	/*background: url(../images/Kalender/hackerl_on.png);*/
}

.sc_menu .checkbox div{
background: url(../images/Kalender/hackerl_off.png);
background-repeat:no-repeat;
margin-left:60px;
}

.sc_menu #members .checkbox img{
	width:16px;
	height:16px;
	position:relative;
	left:-6px;
	top:-6px;
}



.sc_menu #members .hackerl img{
	/*background: url(../images/Kalender/hackerl_on.png);*/
	width:14px;
	height:14px;
	color:black;
	position:relative;
	top: -91px;
	left: 22px;
}

 .configuration_page h3{
	height: 50px;
	background: url(../images/Profil/Button_inaktiv.png);
	background-repeat:no-repeat;
	color:white;
	padding:5px;
	padding-left:10px;
	text-decoration:none;
}

.configuration_page{
	margin-top:50px;
	margin-left:20px;
}

h3 a{
	text-decoration:none;
}

.nav{
	background-color:orange;

}

.upload{
	margin-top:70px;
	margin-right:140px;
}

.newEvent{
	margin-right:140px;
	margin-top:10px;
}

.events{
	background-color:brown;
	border: solid orange;
	-moz-border-radius:5px;
	width:500px;
	height:400px;
	position:absolute;
	top:200px;
	z-index:100;
	opacity:0.9;
}

.chores {
	position:absolute;
	top:400;
	z-index:100;
	opacity:0.9;
	background-color:brown;
	border: solid orange;
	-moz-border-radius:5px;
	width:500px;
	height:300px;
}

.close_events, .close_chores{
	float:right;
}

.events_conf img, .chores_conf img{
	max-width:40px;
	max-height:40px;
}

.events textarea{
  width:100px;
}

.chores input{
	width:100px;
}

ul{
	list-style-type:none;
}

input #chore_image{
	width:50px;
	size:50px;
}


.configurations{
	background: url(../images/Profil/Datenfeld_mitte.png);
	background-repeat:repeat-y;
	position:relative;
	left: 180px;
	top: -300px;
	width: 380px;
	overflow-y:auto;
	overflow-x:hidden;
	max-height:580px;
}




.events_conf{
	margin-left:20px;
	padding:10px;
}

.profile_data{
	width:400px;
	height:300px;
	background: url(../images/Profil/Datenfeld.png);
	padding-top:10px;
	padding-left:20px;
	position:relative;
	left:200px;
	top:-160px;
}

.stars_count{
	background: url(../images/Profil/Datenfeld.png);
	background-repeat:repeat-y;
	height: 150px;
	position:relative;
	left:200px;
	top:-300px;
	padding-top:10px;
	padding-left:20px;
	width:400px;
}

.stars_count p{
	position:relative;
	left:100px;
}

.stars_clouds{
	background: url(../images/Profil/Datenfeld.png);
	background-repeat:repeat-y;
	height: 160px;
	position:relative;
	left:200px;
	top:-290px;
	padding-top:10px;
	padding-left:20px;
	width:400px;
}

.kitty img{
	max-width:78px;
	max-height:136px;
	position:relative;
	left: 500px;
	top:-780px;
}

.present img{
	max-width:56px;
	max-height:65px;
	position:relative;
	left: 230px;
	top:-590px;
}

.kitty2{
	position:relative;
	top:-140px;
}

.points img{
	max-width:38px;
	max-height:35px;
	position:relative;
	top:-630px;
	left:200px;
	padding:20px;
}

.entire_stars_count{
	font-size:20px;
	color:white;
	float:left;
	margin-right:60px;
	margin-top:5px;
	margin-left:15px;
}

.clouds{
	font-size:20px;
	color:black;
	float:left;
	margin-top:5px;
	margin-left:15px;
}

p.edit_account{
	background:url(../images/Profil/Button_aktiv_klein.png);
	background-repeat:no-repeat;
	height:30px;
	padding:5px;
	padding-left:10px;
	position:relative;
	top:-600px;
	left:430px;
	font-size:16px;
	
}

p.edit_account a{
	text-decoration:none;
}

.login{
	float:right;
	margin-right:20px;
}

.maskottchen{
	width:374px;
	height:355px;
	float:right;
	clear:both;
	margin-bottom:30px;
}

.register{
	position:relative;
	float:right;
	margin-right:20px;
}

.logout{
	float:right;
	position:absolute;
	top:10px;
}
